bd69-news-location-list {
    .list-item{
        background-color: white;
        padding: 1rem;
    }
    .name-location{
        padding-bottom: 1rem;
    }
    .item{
        padding-left: 0.5rem;
        .item-border{
            border-top: 1px solid #F0F0F0;    
            padding-top: 1rem;
            padding-bottom: 1rem;        
        }
        .span-item{
        }
    }
}
