page-bd69-league {
    .button-up{
        background-color: map-get($map: $app-colors, $key: app-color);
        color: white;
        font-size: 2rem;
        border-radius: 50%;
        height: 3rem;
        width: 3rem;
    }
  
}