bd69-menu-toggle {
    .menu-container {
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 999;
        background: rgba(black, .7);
        // display: none;
        .menu {
            width: 60vw;
            height: 100%
        }
    }
}