<div class="white-background">
  <div class="big-font green-color a1-text-center a1-padding">Danh sách vua phá lưới</div>
  <table class="a1-container a1-text-center">
    <tr>
      <th>stt</th>
      <th>Tên cầu thủ</th>
      <th>Tên đội</th>
      <th>Số bàn thắng</th>
    </tr>
    <tr>
      <td>1</td>
      <td>B-Gate</td>
      <td>B-Gate</td>
      <td>5</td>
    </tr>
  </table>
  <div class="small-font div-detail padding-10">
    <div class="green-background btn-detail more-detail">
      <span class="white-color">Xem danh sách đầy đủ</span>
      <button class="green-background">
        <ion-icon class="white-color" name="ios-arrow-dropright-outline"></ion-icon>
      </button>
    </div>
  </div>
</div>