bd69-leagues {
    .content{
        margin-top: 1.5rem;
        .item{
            display: flex;
            background-color: white;
            padding: 1rem;
            margin-bottom: 0.5rem;
        }
    }
    
}
.a1-width-15{
    width: 15%;
}
.a1-width-5{
    width: 5%;
}
