bd69-new-locations {
    .search-bar{
        background-color: white;
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 2rem;
        padding-right: 2rem;
        .input-search{
            padding-left: 1.5rem;
            padding-bottom: 0.5rem;
            padding-top: 0.5rem;
            width: 100%;
            border-radius: 40px;
            border: 1px solid map-get($map: $bd69Colors, $key: main-background);
        }
    }
    .dropdown-bar{
        display: flex;
        .location-bar{
            background-color: map-get($map: $bd69Colors, $key: main-background);
            width: 100%;
            .city{
                width: 50%;
            }
            .distric{
                width: 50%;
            }
        }
        .select-loction{
            width: 100%;
            border-bottom: 1px solid map-get($map: $bd69Colors, $key: green-text);
            color: map-get($map: $bd69Colors, $key: green-text);
            background-color: map-get($map: $bd69Colors, $key: main-background);
        }
    }
    
}
