bd69-search-bar {
    .search-bar{
        background-color: white;
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 2rem;
        padding-right: 2rem;
        .input-search{
            padding-left: 1.5rem;
            padding-bottom: 0.5rem;
            padding-top: 0.5rem;
            width: 100%;
            border-radius: 40px;
            border: 1px solid map-get($map: $bd69Colors, $key: main-background);
        }
    }
}
