<div class="header-container a3-container a3-justify-between">
    <div class="menu-container icon-container a3-container a3-items-center" (click)="onClickMenu()">
        <ion-icon name="ios-menu-outline"></ion-icon>
    </div>
    <div class="search-container a3-flex-1 a1-padding-top a1-padding-bottom">
        <div class="search-bar a1-fill-parent a3-container a3-items-center a3-justify-center">
            <ion-icon name="ios-search-outline" class="a1-padding-right"></ion-icon>
            <span>Tìm kiếm...</span>
        </div>
    </div>
    <div class="noti-container icon-container a3-container a3-items-center" (click)="onClickNoti()">
        <ion-icon class="a1-relative" name="ios-notifications-outline">
            <div class="red-dot"></div>
        </ion-icon>
    </div>
</div>