bd69-header-search {
    .header-container {
        height: $header-height;
        width: 100%;
        background-color: map-get($map: $app-colors, $key: app-color);
        color: white;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        box-shadow: 0px 2px 3px 0px grey;
        .icon-container {
            padding: 0 16px;
            font-size: 1.8em;
        }
        .search-container {
            .search-bar {
                background-color: map-get($map: $app-colors, $key: dark);
                color: map-get($map: $text-colors, $key: gray);
                border-radius: 10px;
            }
        }
        .red-dot {
            width: 10px;
            height: 10px;
            position: absolute;
            top: 0;
            right: 0;
            border-radius: 50%;
            background-color: red;
        }
    }
}