@font-face {
    font-family: 'icomoon';
    src: url('../assets/fonts/icomoon.eot?fmiaa5');
    src: url('../assets/fonts/icomoon.eot?fmiaa5#iefix') format('embedded-opentype'), url('../assets/fonts/icomoon.ttf?fmiaa5') format('truetype'), url('../assets/fonts/icomoon.woff?fmiaa5') format('woff'), url('../assets/fonts/icomoon.svg?fmiaa5#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    /* font-family: 'icomoon' !important; */
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@mixin makeIcon($arg,
$val) {
    .bd69-#{$arg}:before,
    .ion-ios-bd69-#{$arg}:before,
    .ion-ios-bd69-#{$arg}-outline:before,
    .ion-md-bd69-#{$arg}:before,
    .ion-md-bd69-#{$arg}-outline:before {
        content: $val;
    }
}

@include makeIcon(bookmark,
"\e900");
@include makeIcon(leaderboard,
"\e905");
@include makeIcon(livescore,
"\e906");
@include makeIcon(news,
"\e907");
@include makeIcon(personal,
"\e908");