bd69-table {
    .div-detail{
        height: 4rem;
        padding-left: 15%;
        padding-right: 15%;
        padding-top: 1rem;
    }
    .btn-detail{
        height: 100%;
        border-radius: 2rem;
        padding-top: 0.5rem;
    }
}
