<div class="row location-bar">
  <div class="city a1-padding">
    <div>
      <span class="small-font font-weight-normal">Thành phố</span>
    </div>
    <div>
      <select class="no-border select-loction small-font">
        <option value="">Hà Nội</option>
        <option value="">Lào Cai</option>
      </select>
    </div>

  </div>
  <div class="distric a1-padding">
    <div>
      <span class="small-font font-weight-normal">Quận/Huyện</span>
    </div>
    <div>
      <select class="no-border select-loction small-font">
        <option value="">Tất Cả</option>
        <option value="">Hai Bà Trưng</option>
      </select>
    </div>
  </div>