<div class="header-container a3-container a3-justify-between">
    <div class="menu-container icon-container a3-container a3-items-center" (click)="onClickMenu()">
        <ion-icon name="ios-menu-outline"></ion-icon>
    </div>
    <div padding class="title-container">
        <span>{{headerTitle}}</span>
    </div>
    <div class="noti-container icon-container a3-container a3-items-center">
        <ion-icon class="a1-relative" name="ios-notifications-outline">
            <div class="red-dot"></div>
        </ion-icon>
    </div>
</div>