<div class="white-background">
  <div class="big-font green-color a1-text-center a1-padding">Bảng xếp hạng</div>
  <table class="a1-container a1-text-center">
    <tr>
      <th></th>
      <th>Tên đội</th>
      <th>Số trận</th>
      <th>Hiệu số</th>
      <th>Điểm</th>
    </tr>
    <tr *ngFor="let item of listClub, let i = index">
      <td>{{i + 1}}</td>
      <td>{{item.name}}</td>
      <td>{{item.won}}</td>
      <td>{{item.lost}}</td>
      <td>{{item.points}}</td>
    </tr>
  </table>
  <div class="small-font div-detail padding-10">
    <div class="green-background btn-detail more-detail">
      <span class="white-color">Xem bảng xếp hạng đầy đủ</span>
      <button class="green-background">
        <ion-icon class="white-color" name="ios-arrow-dropright-outline"></ion-icon>
      </button>
    </div>
  </div>
</div>