bd69-header-clone {
    .header-container {
        height: $header-height;
        width: 100%;
        background-color: map-get($map: $app-colors, $key: app-color);
        color: white;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        .title-container {
            font-size: 2rem;
            font-weight: inherit;
        }
        .title-container-left {
            font-size: 1.8rem;
            font-weight: inherit;
            color: gainsboro;
        }
        .title-container-right {}
    }
}